<form [formGroup]="registerForm">
    <div class="register-card">

        <div class="card-header">
            <lucide-angular [img]="UserPlus" size="60" class="card-header_icon" />
            <h1 class="card-header_title">Task Manager</h1>
            <sub class="card-header_subtitle">Completa los datos para registrarte</sub>
        </div>

        <div class="card-body">
            <div class="card-input">
                <label for="name" class="card-input_label">Nombre</label>
                <input type="text" id="name"
                    class="{{registerForm.get('name')?.touched && registerForm.get('name')?.invalid ? 'border-red-400!': '' }} card-input_input"
                    placeholder="Tú Nombre" autocomplete="off" formControlName="name">

                <sub class="mt-2 font-semibold text-red-500">
                    @if(registerForm.get("name")?.touched && registerForm.get("name")?.hasError){
                    <span *ngIf="registerForm.get('name')?.errors?.['required']">* el nombre es obligatorio</span>
                    }
                </sub>
            </div>

            <div class="card-input">
                <label for="email" class="card-input_label">Email</label>
                <input type="email" id="email"
                    class="{{registerForm.get('email')?.touched && registerForm.get('email')?.invalid ? 'border-red-400!': '' }} card-input_input"
                    placeholder="tuemail@email.com" autocomplete="off" formControlName="email">

                <sub class="mt-2 font-semibold text-red-500">
                    @if(registerForm.get("email")?.touched && registerForm.get("email")?.hasError){
                    <span *ngIf="registerForm.get('email')?.errors?.['required']">* el email es obligatorio</span>

                    <span *ngIf="registerForm.get('email')?.errors?.['email']">* el email es invalido</span>
                    }
                </sub>
            </div>

            <div class="card-input">
                <label for="password" class="card-input_label">Contraseña</label>
                <input type="password" id="password"
                    class="{{registerForm.get('password')?.touched && registerForm.get('password')?.invalid ? 'border-red-400!': '' }} card-input_input"
                    placeholder="**********" formControlName="password">

                <sub class="mt-2 font-semibold text-red-500">
                    @if(registerForm.get("password")?.touched && registerForm.get("password")?.hasError){
                    <span *ngIf="registerForm.get('password')?.errors?.['required']">* la contraseña es
                        obligatoria</span>

                    <span *ngIf="registerForm.get('password')?.errors?.['minlength']">* debe constar de minimo 6
                        caracteres</span>
                    }
                </sub>
            </div>

            <div class="card-input">
                <label for="password" class="card-input_label">Confirmar contraseña</label>
                <input type="password" id="password"
                    class="{{registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.invalid ? 'border-red-400!': '' }} card-input_input"
                    placeholder="**********" formControlName="confirmPassword">

                <sub class="mt-2 font-semibold text-red-500">
                    @if(registerForm.get("confirmPassword")?.touched && registerForm.get("confirmPassword")?.hasError){
                    <span *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">* la confirmación es
                        obligatoria</span>
                    <span *ngIf="registerForm.get('confirmPassword')?.errors?.['minlength']">* debe constar de minimo 6
                        caracteres</span>
                    }
                </sub>
            </div>
        </div>

        <div class="card-footer">
            <button class="card-footer_button disabled:bg-indigo-300!" (click)="onSubmit()"
                [disabled]="registerForm.invalid">Registrarse</button>
            <span class="mt-3">¿Ya tienes cuenta?
                <a routerLink="/" class="card-footer_link">Inicia
                    Sesión</a></span>
        </div>
    </div>
</form>